body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
    margin: 0;
    
}


.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.container {
    background-color: coral;
max-width: 1178px;
padding: 0;
margin: 0 auto;


}
    
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    margin: 0;
}

img {
    display: block;
    
}

.logo-title {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

   }

.nav {
    display: flex;
    align-items: center;

}

.page-header .container {
        display: flex;
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;

           }

.accent-logo {
     color: #2e2f42;
}




.menu-nav {
    display: flex;
        
        gap: 40px;
       
}

.nav {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    margin-left: 76px;
    padding-top: 24px;
    padding-bottom: 24px;

        background: #fff, rgba(0, 0, 0, 0.2);

}
.menu-links {
    display: flex;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    
}
.menu-links:hover,
.menu-links:focus
 {
 color: #404bbf;
}
.menu-links:active 
{
    color: #4D5AE5;
    text-decoration: underline;
}



.date-info {
    display: flex;
        gap: 40px;
    
            

}



.date {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #434455;
    
}
.date:hover,
.date:focus {
    color: #404bbf;
}

.info-descr {
    display: flex;
    align-items: center;
        font-style: normal;
        margin-left: auto;
      
        
    }


   
.main-page {
    
    background: #2e2f42;
    margin: auto;
       text-align: center;
            height: 600px;
            padding: 188px 0;
}

.main-page-text {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: auto;  
    margin-bottom: 48px;
    max-width: 496px;
    
        }

.main-page-btn {
    font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    cursor: pointer;
     background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 56px;
    margin: auto;
     display: block;
     align-items: flex-start;
     justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
     min-width: 169px;
    margin-bottom: 188px;
    
                    
            
}
        
.main-page-btn:hover,
.main-page-btn:focus
 {
    color: #fff;
    background: #404BBF;
}



      .visually-hidden {
                text-align: center;
                position: absolute;
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    border: 0;
                    padding: 0;
                    white-space: nowrap;
                    clip-path: inset(100%);
                    clip: rect(0 0 0 0);
                    overflow: hidden;
                
      }

.our-benefits {
    padding: 120px 0;
}
.benefits-list {
    display: flex;
        gap: 24px;
        
                   
}

.benefits {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
        width: calc((100% - 72px) / 4);
        
    }



.benefits-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
    
    }

     .benefits-descr {
            font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
                margin: auto;
                display: flex;
                                    
                   
                width: calc(1128px-(3*24px)/4);
        }

          
         

.teams {
    display: flex;
       gap: 24px;
    align-items: center;
        justify-content: center;
      
                
}



       

    .page-team {
           
            background: #f4f4fd;
            margin: auto;
            padding: 120px 0;
                    }


        .page-team .container {
            width: 1158px;
             padding: 0 15px;
        }

 .page-team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
         margin-bottom: 72px;
        text-transform: capitalize;

        
        
 }

 .page-title {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
 }

 .team-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        
        
 }

 .team-item {
    
    padding: 32px 0;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
     }

 .team-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin: auto;
        
 }

 
  

.page-portfolio {
    padding: 120px 0 120px 0;
}

 .works {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
                }


     .name-portfolio {
     width: calc((100% - 48px) / 3);
     }


     .page-portfolio .container {
        padding: 0 15px;
        width: 1158px;
     }

.portfolio-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    
}

.works-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

 
.works-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
        
}
 
 .works-descr {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: auto;
            

 }


 .page-footer {
     background: #2e2f42;
    padding: 100px 0;

 }

 .logo-two {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin: auto;

       
 }

  .footer-descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      
    max-width: 264px;
  }

  .accent-logo-two {
color: #f4f4fd
  }


  .logo-decr {
    box-sizing: border-box;
    padding-top: 100px;
    max-width: 264px;
    
  }