body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #2e2f42;
}

.menu-links {
    color: #2E2F42;
}
.menu-links .link:hover,
.menu-links .link:focus
 {
 color: #4D5AE5;
}
.menu-links .link:active 
{
    color: #4D5AE5;
    text-decoration: underline;
}