body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #2e2f42;
}

.links {
    color: #2E2F42;
}
.links:hover,
.links:focus
 {
 color: #4D5AE5;
}
.links:active 
{
    color: #4D5AE5;
    text-decoration: underline;
}

.date {
    color: #434455;
}
.date:hover {
    color: #4D5AE5;
}